.carousel-item img {
    max-height: 400px; 
    width: 100%; 
    margin: auto;
}

#carouselExampleControls {
    max-width: 100%; 
    height: auto;
    margin: 0 auto; 
}

.card2{
    width: 18rem; 
    margin-top: 100px;
    margin-bottom: 40px;
}

.dropdown-menu-large{
    width: 300px;
}

.cartita{
    width: 1500px;
 }

.total-text b{
	display: inline;
}
 
.selected {
    border: 2px solid #85ddb4;
    transform: scale(1.05);
    transition: transform 0.2s;
}

.remove-item {
    background-color: #dc3545;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.remove-item:hover {
    background-color: #c82333;
}

.registrarse {
    margin-top: 10px;
}